.welcomeContainer {
   height: 100%;
   width: 100%;
   color: var(--text-light-blue);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
}

.link{
   position: absolute;
   top: 0;
   transform: translateY(20px);

}

.welcomeAscii {
   font-size: 0.6rem;
   font-weight: 900;
   translate: -2% 0;
   line-height: 1em;
   padding: 0 0 0 0;
   display: flex;
   align-items: flex-end;
}

.welcomeAscii pre {
   letter-spacing: -0.1em;
}

.welcomeMessage {
   padding: 0.15rem 0 0 0;
   margin: 0 3em;
   text-align: center;
}

.greetingContainer {
   height: 50px;
}
