.welcomeContainer {
   height: 100%;
   width: 100%;
   color: var(--text-light-blue);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
}

.link {
   position: absolute;
   top: 0;
   transform: translateY(20px);

}

.welcomeMessage {
   padding: 0.15rem 0 0 0;
   margin: 0 3em;
   text-align: center;
}

.greetingContainer {
   height: 50px;
}


@media screen and (max-width: 768px) {
   .welcomeAscii pre {
      line-height: 1em !important;
      letter-spacing: -0.2em !important;
   }
}

.welcomeAscii {
   font-size: 0.5rem;
   font-weight: 900;
   translate: 0 -1em;
   display: flex;
   color: var(--text-light-blue)
}

.welcomeAscii pre {
   line-height: 0.8em;
   letter-spacing: -0.25em;
}