.welcomeComp {
   height: 100%;
   position: relative;
}

.chatsContainer {
   margin: 1em 0.5em;
   box-sizing: border-box;
   position: relative;
}

.messages {
   display: flex;
   flex-direction: column;
}

.message img {
   max-width: 100%;
}

.homePage {
   text-decoration: none;
}

.message {
   display: flex;
   flex-direction: row;
   line-height: 140%;
   letter-spacing: 0.01px;
   box-sizing: border-box;
   padding: 0.4rem;
   overflow-wrap: break-word !important;
}

.message.user {
   align-self: flex-end;
   display: flex;
   max-width: 80%;
   padding-bottom: 1em;
}

.role-user {
   color: var(--text-dark-blue);
   padding-left: 0.5em;
   order: 2;
   transform: translateY(7px);
}

.msgContent-user {
   position: relative;
   color: var(--text-dark-blue);
   order: 1;
   text-align: left;
   border: 1px solid;
   /* border-radius: 21px; */
   align-items: flex-end;
   padding: 0.4em 0.9em 0.4em 0.8em;
   
}

.role-assistant {
   color: var(--text-light-blue);
   padding-right: 3em;
   margin-left: 0em;
   font-size: 0.25em;
   transform: translateY(-7px);
   line-height: 0.9em;
   font-weight: 900;
}

.msgContent-assistant {
   color: var(--text-light-blue);
   text-align: left;
   margin-right: 1.2em;
   width: 100% !important;
}

.empty {
   font-size: 1.4rem;
   color: var(--text-light-blue);
   justify-self: center;
   align-self: center;
}

.messageContent {
   padding-left: 10px;
}

.cursor {
   animation: blink 1s step-end infinite
}

@media screen and (max-width: 768px) {
   .role-assistant {
      font-size: 0.25em;
      transform: translateY(-5px) !important;
   }

   .welcomeAscii pre {
      line-height: 1em !important;
      letter-spacing: -0.2em !important;
   }
}

.welcomeAscii {
   font-size: 0.5rem;
   font-weight: 900;
   translate: 0 -1em;
   display: flex;
   color: var(--text-light-blue)
}

.welcomeAscii pre {
   line-height: 1em;
   letter-spacing: -0.2em;
}

@keyframes blink {

   0%,
   100% {
      background-color: var(--text-light-blue);
   }

   50% {
      background-color: transparent;
   }
}

