.welcomeComp {
   height: 100%;
   position: relative;
}

.chatsContainer {
   margin: 1em 0.5em;
   box-sizing: border-box;
   position: relative;
}

.messages {
   display: flex;
   flex-direction: column;
}

.message img {
   max-width: 100%;
}

.homePage {
   text-decoration: none;
}

.welcomeAscii pre{
   font-weight: 900;
   color: var(--text-light-blue);
}

.message {
   display: flex;
   flex-direction: row;
   line-height: 140%;
   letter-spacing: 0.01px;
   box-sizing: border-box;
   padding: 0.4rem;
   word-wrap: break-word;
}

.message.user {
   align-self: flex-end;
}

.role-user {
   color: var(--text-dark-blue);
   padding-left: 0.5em;
   order: 2;
}

.msgContent-user {
   color: var(--text-dark-blue);
   order: 1;
   text-align: right;
}

.role-assistant {
   color: var(--text-light-blue);
   padding-right: 3em;
   font-size: 0.25em;
   transform: translateY(-12px);
   line-height: 1.1em;
   font-weight: 900;
}

.msgContent-assistant {
   color: var(--text-light-blue);
   text-align: left;
   margin-right: 1.2em;
   width: 100%
}

.empty {
   font-size: 1.4rem;
   color: var(--text-light-blue);
   justify-self: center;
   align-self: center;
}

.messageContent {
   padding-left: 10px;
}

.cursor {
   animation: blink 1s step-end infinite
}

@keyframes blink {

   0%,
   100% {
      background-color: var(--text-light-blue);
   }

   50% {
      background-color: transparent;
   }
}

.welcomeAscii {
   font-size: 0.4rem;
   font-weight: 900;
   translate: 0 -20px;
   line-height: 1.3em;
   display: flex;
   align-items: flex-end;
   color: var(--text-dark-blue);
}