.inputContainer {
   position: relative;
   padding: 0;
}

.inputArea{
   caret-color: transparent;
   color: var(--text-light-blue);
   position: relative;
   white-space: pre-wrap;
   cursor:text;
   word-wrap: break-word;
   box-sizing: content-box;
   outline: none;
   min-height: 20px;
   line-height: 1.5;
   min-height: 1.5em;
   padding: 0.2em;
   z-index: 2;
}

.inputEffect{
   background-color: var(--text-light-blue);
   box-sizing: content-box;
   outline: none;
   min-height: 1.5em;
   padding: 0.2em;
   width: 100%;
   z-index: 1;
   opacity: 0;
   position: absolute;
}

.customCaret {
   position: absolute;
   display: inline-block;
   width: 10px;
   height: 25px;
   background-color: var(--text-light-blue);
   pointer-events: none;
   /* opacity: 0; */
   mix-blend-mode: difference;
   animation: blink 0.5s ease-out infinite;
   z-index: 3;
   translate: 0% 15%;
}

@keyframes blink {
   0%, 100% {
      opacity: 1;
   }
   50%{
      opacity: 0;
   }
}

.inputArea:focus {
   outline: none;
}
