.marqueeContainer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  /* border: 3px solid red; */
  position: absolute;
  bottom: 0;
  opacity: 0
}

.marqueeWrapper {
  width: 100%;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.marqueeWrapper p {
  /* font-size: 1.4rem; */
  color: var(--text-light-blue);
  margin-bottom: 0 !important;
}



