.chatFeed {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chatFeedHeader {
    display: flex;
    position: sticky;
    width: 100dvw;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0px 35px 40px var(--background);
    z-index: 1;
}

.newChat {
    width: 20px;
    height: 20px;
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesContainer {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.messagesContainer::-webkit-scrollbar {
    width: 6px;
}

.messagesContainer::-webkit-scrollbar-track {
    background: transparent;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 3px;
}

.messagesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}


.spinnerWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
}

.chloeLogo {
    font-size: 0.6rem;
}