.chatInterface {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    color: var(--text-light);
    padding-bottom: 80px;
}

.welcomeScreen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.greeting {
    text-align: center;
    color: #9ca3af;
    font-size: 1.125rem;
}