.chatFeed {
    position: fixed;
    top: 0rem;
    left: calc(var(--sidebar-collapsed-width) + 1.5rem);
    right: 0;
    bottom: calc(1rem + 1rem);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    overflow-y: auto;
    scrollbar-width: thick;
    scrollbar-color: var(--text-dark) transparent;
    padding: 0rem 0rem 0rem 0rem;
    /* border: 1px solid pink; */
}

.messagesContainer {
    width: min(100%, 768px);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0rem 0rem 0rem;
    /* border: 1px solid red; */
    margin: 0 0;

}

.chatFeed::-webkit-scrollbar {
    width: 0.4rem;
    
    border-radius: 0px !important;
}

.chatFeed::-webkit-scrollbar-track {
    background: var(--background-darker);
    
    border-radius: 0px !important;
}

.chatFeed::-webkit-scrollbar-thumb {
    background-color: var(--text-light);
    border-radius: 0px !important;
}

.chatFeed::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-dark);
    
    border-radius: 0px !important;
    
}

/* @media (max-width: 768px) {
    .chatFeed {
        left: 1rem;
        right: 0rem;
        bottom: calc(6.5rem + env(safe-area-inset-bottom));
    }

    .messagesContainer {
        width: 100%;
        padding: 1rem 0 3rem;
    }
} */

.messagesContainer::-webkit-scrollbar {
    width: 6px;
}

.messagesContainer::-webkit-scrollbar-track {
    background: transparent;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background-color: #4b5563;
}



.messagesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}


.spinnerWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
}

.chloeLogo {
    font-size: 0.6rem;
}