.inputWrapper {
   width: 100%;
   bottom: 0;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 60px;
   background-color: var(--background);
   
   /* z-index: 1; */
}

.inputArea {
   height: 45px;
   border: 1px solid var(--text-dark);
   width: 80%;
   background: var(--background-darker);
   max-width: 768px;
   margin-left: -60px;
   color: var(--text-light);
   display: flex;
   padding: 0 0 0 1rem;
   align-items: center;
}

.inputArea:focus {
   border: 1px solid var(--text-light);
}

.disclaimer {
   font-size: 0.8rem;
   width: 100%;
   display: flex;
   margin: 0.2rem;
   justify-content: center;
   margin-left: auto;
   color: var(--text-dark);
}