.inputWrapper {
   width: 100%;
   bottom: 0;
   justify-content: center;
   position: fixed;
   display: flex;
   flex-direction: column;
   
   background-color: var(--background);
}

.inputArea {
   min-height: 45px;
   color: var(--text-light);
   white-space: pre-wrap;
   word-wrap: break-word;
   display: flex;
   overflow-x: hidden;
   align-items: center;
   font-size: 1rem;
   border-bottom: 1px dashed var(--text-dark);
   padding: 0 1rem 0 1rem;
   width: 100%;
}

.inputArea:focus {
   outline: none;
   border: 1px solid var(--text-light);
   box-shadow: none;
}

.disclaimer {
   font-size: 0.8rem;
   width: 100%;
   display: flex;
   margin: 0.2rem;
   justify-content: center;
   margin-left: auto;
   color: var(--text-dark);
}