.landingPage {
   width: 100%;
   height: 100dvh;
   max-width: 768px;
   color: var(--text-light);
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-grow: 1;
   margin: auto;
}

.landingWrapper {
   width: 100%;
   height: 100dvh;
   font-size: 1.2rem;
   
   flex-grow: 1;
   display: flex;
   position: relative;
   display: flex;
   flex-direction: column;
   margin-left: auto;
   align-items: center;
   justify-content: center;
}

.greeting {
   text-align: center;
   transform: translate(0, -4.5rem);
   width: 100%;
   font-size: 1rem;
}


@media (max-width: 768px) {
   .greeting {
      font-size: 0.9rem;
   }
}