.landingPage {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   color: var(--text-light);

}

.landingWrapper {
   padding: 2rem;
   font-size: 1.2rem;
}
