.messageWrapper {
    display: flex;
    width: 100%;
}

.userMessage {
    max-width: 80%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.assistantMessage {
    max-width: 80%;
    display: flex;
    margin: 1rem;
}

.userAvatar {
    order: 2;
    margin-left: 1rem;
    font-weight: 100;
}

.assistantAvatar {
    color: var(--text-light-blue);
    padding-right: 1rem;
    font-size: 0.3rem;
    transform: translateY(-1px);
    font-weight: 700;
}

.content {
    width: 100%;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-light-blue);
    line-height: 1.5rem;
    font-weight: 200;
}