:root {
  --text-light-blue: #4893f5;
  --text-dark-blue: #0b489d;
  --background-color: #050d41;
  --background-color-darker: #00052a;
}


* {
  box-sizing: border-box;
  letter-spacing: -0.025rem;
}

body,
html {
  font-family: var(--geistMono);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  /* width: 100svw; */
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 300;
  
  flex-grow: 1;
  letter-spacing: 0em;
  font-feature-settings: 'ss03' on, 'ss08' on, 'ss06' on, 'ss04' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  height: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 0.7em;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  
}

a {
  color: rgb(177, 181, 230);
}

code {
  background-color: var(--background-color-darker);
  font-family: var(--geistMono);
  padding: 0.1em 0.5em;
}

blockquote {
  background-color: var(--background-color-darker);
  padding: 0.5em 1em;
  border-left: 2px solid var(--text-dark-blue);
}

hr {
  border: 0;
  border-top: 1px solid var(--text-dark-blue)
}

strong {
  font-weight: 500;
}

ul,
ol {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

tr:nth-of-type(even) { 
  background: #032052; }

td{
  padding: 0.4em;
}

tbody {
  border: 1px solid var(--background-color-darker)
}

thead {
  text-align: center;
  background-color: var(--background-color-darker);
}

th {
  padding: 0.5em 0
}

table {
  border: 2px solid var(--background-color-darker);
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid var(--background-color-darker)
}