:root{
  --text-light-blue: #2e9dff;
  --text-dark-blue: #0963b3;
  --background-color: #00084d;
  --background-color-darker: #010920;
}

* {
  box-sizing: border-box; 
}


body, html{
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  font-feature-settings: 'ss03' on, 'ss08' on;
}

p {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

a {
  color: rgb(177, 181, 230);
}

code {
  background-color: var(--background-color-darker);
  padding: 0.2em;
}

blockquote {
  background-color: var(--background-color-darker);
  padding: 0.2em;
}

hr{
  border : 0;
  border-top: 1px solid var(--background-color-darker)
}