:root {
  --text-light: #4893f5;
  --text-dark: #0b489d;
  --background: #050e41;
  --background-darker: #020625;
  --sidebar-collapsed-width: 60px;
}

html,
body {
  width: 100dvw;
  height: 100svh;
  overflow-x: hidden;
}

body {
  font-family: var(--font-geist-mono);
  font-feature-settings: 'ss03' on, 'ss04' on, 'ss06' on, 'ss08' on;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-shell {
  min-height: 100svh;
  width: 100dvw;
}

.app-content {
  flex: 1;
  margin-left: 60px;
}

.app-overlay {
  display: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(188, 214, 251);
}

::-webkit-scrollbar {
  width: 12px;            
  height: 12px;          
}

::-webkit-scrollbar-track {
  background: var(--background); 
  border-radius: 0;   
}

::-webkit-scrollbar-thumb {
  background: var(--text-dark);   
  border-radius: 0;    
  border: 0;             
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: #f2f2f2;     
}

.body {
  scrollbar-width: auto;            
  scrollbar-color: #9aa0a6 #f2f2f2;  
}
