:root{
  --text-light-blue: #4893f5;
  --text-dark-blue: #0b489d;
  --background-color: #050d41;
  --background-color-darker: #00052a;
}


* {
  box-sizing: border-box; 
}

body, html{
  font-family: var(--geistMono);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  font-feature-settings: 'ss03' on, 'ss08' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

a {
  color: rgb(177, 181, 230);
}

code {
  background-color: var(--background-color-darker);
  font-family: var(--geistMono);
  padding: 0.1em 0.5em;
}

blockquote {
  background-color: var(--background-color-darker);
  padding: 0.5em 1em;
  border-left: 2px solid var(--text-dark-blue);
}

hr{
  border : 0;
  border-top: 1px solid var(--text-dark-blue)
}