.mainContainer {
   font-size: 1.1rem;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   box-sizing: border-box;
   max-width: 768px;
   margin: auto;
}

.chatWindow {
   flex-grow: 1;
   overflow-y: auto;
   &::-webkit-scrollbar {
      display: none;
   }
   scrollbar-width: none;
   -ms-overflow-style: none;

}

.errorMessage{
   position: relative;
   color: red;
   justify-self: center;
}

