:root{
  --text-light-blue: #2e9dff;
  --text-dark-blue: rgb(9, 99, 179);
  --background-color: #070e4d;
  --background-color-darker: #031553;
}

body, html{
  background-color: var(--background-color);
  letter-spacing: 0.0001rem;
  padding: 0;
  margin: 0;
  height: 100%
}

p {
  margin-top: 0px;
}

a {
  color: rgb(177, 181, 230);
}

code {
  background-color: var(--background-color-darker);
  padding: 0.2em;
}

blockquote {
  background-color: var(--background-color-darker);
  padding: 0.2em;
  border: 1px solid red;
}