.mainContainer {
   font-size: 1.4rem;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.chatWindow{
   flex-grow: 1;
   overflow-y: auto;
   display: flex;
   flex-direction: column;


&::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer and older Edge (less common now but good for completeness) */
  -ms-overflow-style: none;

}