.imageWrapper {
   position: relative;
   display: inline-block;
   overflow: hidden;
   padding: 0.5em;
   background-color: rgb(255, 255, 255);
}

.imageContainer {
   border: 2px solid red;
   width: 100%;
}


.imageWrapper img {
   object-fit: contain;
   display: block;
   opacity: 1;
}

.pixelOverlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 120%;
   height: 120%;
   pointer-events: none;
}

.pixelRect {
   opacity: 1;
}