.imageWrapper {
   max-width: 800px;
   position: relative;
   display: inline-block;
   overflow: hidden;
   padding: 0.5em;
   background-color: rgb(241, 241, 219);
}

.imageWrapper img {
   width: 100%;
   object-fit: contain;
   display: block;
   opacity: 0;
}

.pixelOverlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 110%;
   height: 110%;
   pointer-events: none;
}

.pixelRect {
   opacity: 1;
}