.spinner {
   display: inline-block
}

.imageResponse {
   width: 60%;
   position: relative;
   display: flex;
   padding: 0.6em;
   background-color: var(--background-color-darker);
}

@media screen and (max-width: 768px) {
  .imageResponse {
    width: 90%
  }

  .imageWrapper {
    width: 90%;
    aspect-ratio: 4/5
  }
}

.imageCover{
   display: block;
   overflow: hidden;
   position: relative;
   width: 100%;
   aspect-ratio: 4/5;
   background-color: var(--background-color-darker);
}

.imageWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 5;
}

.responseContainer {
  display: flex;
}

.downloadBtn {
  position: relative;
  height: max-content;
  align-self: flex-end;
  font-size: 1.5em; 
  z-index: 3;
  cursor: pointer;
  margin-left: 0.3em;
}

.downloadBtn p {
    color: var(--text-dark-blue);
    margin: 0;
    line-height: 1;
    text-decoration: none;
}

.downloadBtn a {
    text-decoration: none;
}

.imageWrapper img,
.pixelGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageWrapper img {
  object-fit: cover;
}

.pixelGrid {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(21, 1fr);
  overflow: hidden;
  opacity: 1;
}

.pixelDiv {
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}
